<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 必要权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    
    <!-- Shizuku权限（关键！） -->
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23"/>
    
    <application
        android:label="MRSS"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher">
        <!-- 🔑 关键：背屏准入证！已验证有效！ -->
        <meta-data
            android:name="miui.rear.policy"
            android:value="1"/>
            
        <!-- Shizuku Provider（重要！） -->
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="com.tgwgroup.MiRearScreenSwitcher.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
        
        <!-- 自定义Shizuku Service -->
        <service
            android:name=".TaskService"
            android:permission="moe.shizuku.manager.permission.API_V23"
            android:exported="true" />
        
        <!-- 悬浮球服务 -->
        <service
            android:name=".FloatingBubbleService"
            android:exported="false" />
            
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
